html, body {
  height: 100%;
  background-color: #ffffff;
  color: #333;
  /* font-family: 'microsoft YaHei'; */
  touch-action: pan-y;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

dd {
  margin: 0;
}